.login-form {
	background:#fff;
	width:32%;
	margin:0% auto 4% auto;
 	position: relativ;
}
.head img {
	border-radius:50%;
	-webkit-border-radius:50%;
	-o-border-radius:50%;
	-moz-border-radius:50%;
	width:30%;
	margin:0% 30%;
	border:6px solid rgba(221, 218, 215, 0.23);
}
.head form {
	/*padding:24% 2.5em;*/
}
.head form li{
	border:1px solid #B4B2B2;
	list-style:none;
	margin-bottom:25px;
	width:100%;
	background:none;
	border-radius: 0.3em;
	-webkit-border-radius: 0.3em;
	-o-	border-radius: 0.3em;
	-moz-border-radius: 0.3em;

}
	
.icon{
	background:url(../img/icons.png)  no-repeat 0px 0px;
	height:30px;
	width:30px;
	display: block;
	float:left;
	margin:7px -11px 0px 0px
}

.user{
	background: url(../img/icons.png) no-repeat 12px 11px;
	
}
.lock{
	background: url(../img/icons.png) no-repeat -17px 11px;
}
#pass{

	font-family: 'Open Sans', sans-serif;
	padding:0.7em 2em 0.7em 1.7em;
	color:#858282;
	outline: none;
	background: none;
	border:none;

}
.head input[type="text"], input[type="password"] {
	font-family: 'Open Sans', sans-serif;
	padding:0.7em 2em 0.7em 1.7em;
	color:#858282;
	font-size:18px;
	outline: none;
	background: none;
	border:none;
	font-weight:600;
	}
.head form li:hover{
	border:1px solid #40A9DF;
	 box-shadow: 0 0 1em #40A9DF;
	 -webkit-box-shadow: 0 0 1em #40A9DF;
	 -o-box-shadow: 0 0 1em #40A9DF;
	 -moz-box-shadow: 0 0 1em #40A9DF;
}
.head form input[type="submit"]{
	float:right;
	font-size:15px;
	display: inline-block;
	font-weight:500;
	color: #fff;
	transition: 0.1s all;
	-webkit-transition: 0.1s all;
	-moz-transition: 0.1s all;
	-o-transition: 0.1s all;
	cursor: pointer;
	outline: none;
	padding:15px 10px;
	margin-top:3px;
	font-family: 'Open Sans', sans-serif;
	width:40%;
	border:none;
	border-radius: 0.3em;
	-webkit-border-radius: 0.3em;
	-o-	border-radius: 0.3em;
	-moz-border-radius: 0.3em;
	background: #79980d; /* Old browsers */
	background: -webkit-linear-gradient(180deg, #79980d, #333333); /* For Safari 5.1 to 6.0 */
	background: -o-linear-gradient(180deg, #79980d, #333333); /* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient(180deg, #79980d, #333333); /* For Firefox 3.6 to 15 */
	background: linear-gradient(1deg,#79980d, #666666); /* Standard syntax */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#79980d', endColorstr='#333333',GradientType=0 ); /* IE6-9 */
}
.head input[type="submit"]:hover{
	background: #333333; /* Old browsers */
	background: -webkit-linear-gradient(180deg, #333333, #79980d); /* For Safari 5.1 to 6.0 */
	background: -o-linear-gradient(180deg, #333333, #79980d); /* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient(180deg, #333333, #79980d); /* For Firefox 3.6 to 15 */
	background: linear-gradient(1deg,#333333, #79980d); /* Standard syntax */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#333333', endColorstr='#79980d',GradientType=0 ); /* IE6-9 */
	
}
/***************************/
.p-container{
	margin-top:2em;
}


.p-container  i:before {
	background-color: #2da5da;	
}
.p-container  .rating label {
	color: #ccc;
	transition: color 0.3s;
	-o-transition: color 0.3s;
	-ms-transition: color 0.3s;
	-moz-transition: color 0.3s;
	-webkit-transition: color 0.3s;
}
.p-container .rating input:checked ~ label {
	color: #2da5da;	
}


/*-----start-responsive-design------*/
@media (max-width:1024px){
.login-form  {
		margin:8% auto 0;
		width:45%;
	}
}
@media (max-width:768px){
	.login-form  {
		margin:12% auto 0;
		width:57%;
	}
}
@media (max-width:640px){                                  
	.login-form  {
		margin:13% auto 0;
		width:70%;
	}
}
@media (max-width:480px){                                  
	.login-form  {
		margin:20% auto 0;
		width:90%;
	}	
}
@media (max-width:320px){                                  
	.login-form  {
		margin:20% auto 0;
		width:95%;
	}
	form{
		padding:19% 1.5em; 
	}
	form li{
		margin-top:10px;
	}
	
	.head input[type="text"], input[type="password"]{
		font-size:15px;
		padding: 0.5em 1em 0.5em 1em;
	}
	.head input[type="submit"]{
		float:none;
		font-size: 15px;
		padding: 10px 10px;
		width: 40%;
		margin-left: 28%;
	}
	.head img {
	width:69%;
	}
	.user {
		background: url(../img/icons.png) no-repeat 12px 4px;
	}
	.lock {
		background: url(../img/icons.png) no-repeat -20px 3px;
	}
	.p-container{
		margin-top: 0;
	}
	.icon{
		margin:6px -11px 0px 0px;
	}
}